@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins Regular", "Poppins SemiBold", "Poppins Italic",
    "Inter Regular", sans-serif;
  background-color: #222 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: white;

  .homeContainer {
    width: 90%;
    height: 90%;
    left: -130px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .aboveMessageBox {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 120px; /* Enough space for navbar and message box */
  }

  .rectangle11 {
    top: 71px;
    left: 161px;
    position: absolute;
  }

  .ellipse4 {
    top: 16px;
    left: 24px;
    position: absolute;
  }

  .group3 {
    top: 20px;
    left: 103px;
    width: 180px;
    height: 57px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    animation: fadeIn 1s forwards;
  }

  .text {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: "Inter Regular";
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .text2 {
    top: 21px;
    left: 2px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    text-align: left;
    font-family: "Poppins SemiBold";
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .friendlyrobotassistantwaving {
    top: 164px;
    left: 214px;
    position: absolute;
    float: right;
    animation: slideLeft 2s forwards;
  }

  .text5 {
    width: 244px;
    height: 360px;
    top: 100px;
    left: 30px;
    position: absolute;
    text-align: left;
    font-family: "Poppins Regular";
    font-size: 19px;
    line-height: 45px;
    animation: slideRight 2s forwards;
    text-shadow: 2px 2px 3px rgb(36, 36, 36);
  }

  .differentFont {
    font-family: "Poppins Bold";
  }

  .differentColorAndFont {
    background: linear-gradient(-77deg, #9bc3ff, #0066ff);
    background-clip: text;
    color: transparent;
    font-family: "Poppins SemiBold";
    text-shadow: none;
  }

  .text4 {
    top: 560px;
    position: absolute;
    left: 72px;
    width: 250px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 24px;
    text-align: left;
    font-family: "Poppins SemiBold";
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
    margin-bottom: 20px; /* Space between text4 and messageBox */
  }

  .navBar {
    top: 670px;
    left: 10px;
    width: 375px;
    height: 95px;
    display: flex;
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(29, 91, 143, 1) 0%,
      rgba(29, 91, 143, 0) 100%
    );
    align-items: flex-start;
    flex-shrink: 1;
    border-radius: 40px;
    animation: fadeIn 1s forwards;
  }

  .icons {
    top: 37px;
    left: 42px;
    width: 306.122314453125px;
    height: 31px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }

  .bookmark {
    top: 0px;
    left: 172.0000457763672px;
    position: absolute;
  }

  .settings {
    top: 0px;
    left: 267.00006103515625px;
    position: absolute;
  }

  .chatMessage {
    top: 1px;
    left: 86px;
    position: absolute;
  }

  .homeButton {
    top: 1px;
    left: 0px;
    position: absolute;
  }

  .messageBox {
    display: flex;
    position: fixed;
    align-items: center;
    box-sizing: border-box;
    padding-left: 335px;
    flex-shrink: 0;
    bottom: 120px; /* Height of the navbar */
    left: 0;
    z-index: 1000; /* Ensure it stays above other content */
    animation: slideUp 1s;
  }
}
