.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

h1 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #fff;
}

.form-control {
  width: 15vw;
  margin: 10px auto;
}

@media (max-width: 900px) {
  .form-control {
    width: 95%;
  }
}
