@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.PatientInformation {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.chatContainer {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    max-height: 74vh;
}

/* Custom scrollbar styles */
.chatContainer::-webkit-scrollbar {
    width: 0px;
    /* Width of the scrollbar */
    height: 5px;
}

.chatContainer::-webkit-scrollbar-track {
    background: transparent;
    /* Color of the track */
    border-radius: 10px;
    /* Rounded corners of the track */
}

.chatContainer::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the thumb */
    border-radius: 10px;
    /* Rounded corners of the thumb */
}

.chatContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the thumb on hover */
    cursor: pointer;
}

.chatBubbleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Align items to the start
    margin-top: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
    position: fixed;
    left: 450px;
}

.formControl,
.formSelect {
    margin-top: 0px;
    color: white;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    width: auto; // Make sure the input fields take full width
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #3389BB;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.submitButton {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #65A844;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #84c266;
}

.buttonContainer {
    display: flex;
    margin-top: auto;
    animation: slideLeft 1s forwards;
    position: relative;
    flex-shrink: 0;
    top: -100px;
    left: 70px;
}

.arrowButton {
    position: absolute;
    top: -95px;
    left: 230px;
}

.continueMessage {
    position: relative;
    top: -84px;
    left: 110px;
    font-size: 13px;
    text-shadow: 5px 3px 6px rgb(0, 0, 0);
    font-family: "Inter Regular";
}