.navBar {
  width: 375px;
  height: 95px;
  display: flex;
  justify-content: center; /* Center the icons horizontally */
  align-items: center; /* Center the icons vertically */
  background: linear-gradient(
    180deg,
    rgba(29, 91, 143, 1) 0%,
    rgba(29, 91, 143, 0) 100%
  );
  border-radius: 40px;
  position: relative;
  bottom: 0;
}

.icons {
  display: flex;
  justify-content: space-evenly; /* Distribute the icons evenly */
  align-items: center;
  width: 100%; /* Ensure the container takes full width of the nav bar */
}

.icon {
  width: 30px; 
  height: 30px;
}

