@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.chatBubble {
  width: 250px;
  max-width: fit-content;
  margin: 8px;
  padding: 7px;
  border-radius: 20px;
  background-color: #3389bb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
  display: inline-block;
  animation: fadeIn 1s forwards;

  p {
    margin: 5px;
    line-height: 1.8;
    color: white;
    font-size: 13px;
    font-family: "Poppins Regular";
    text-align: left;
  }
  &.user {
    background-color: #00446e; // Different background for user messages
    align-self: flex-end;
    margin-left: auto; // Align to the right
    left: unset; // Remove any left positioning
    right: 0; // Ensure it's aligned to the right
    position: relative;
    left: 40px;
  }

  &.assistant {
    background-color: #1d5b8f; // Background for assistant messages
    align-self: flex-start;
    margin-right: auto; // Align to the left
    right: unset; // Remove any right positioning
    left: 0; // Ensure it's aligned to the left
    position: relative;
    left: -50px;
  }
}
