@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src:
    local("Poppins Medium"),
    url("src/fonts/poppins-webfont/Poppins-Medium.woff") format("woff");
}

.textarea {
  font-family: "Poppins Medium", sans-serif;
}

/* Custom scrollbar styles */
.textarea::-webkit-scrollbar {
  width: 6px;
  /* Width of the scrollbar */
  position: relative;
}

.textarea::-webkit-scrollbar-track {
  background: transparent;
  /* Color of the track */
  border-radius: 10px;
  /* Rounded corners of the track */
}

.textarea::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the thumb */
  border-radius: 10px;
  /* Rounded corners of the thumb */
}

.textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the thumb on hover */
  cursor: pointer;
}

.spinner {
  position: absolute; /* Position it absolutely */
  top: -35px;
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to center within parent */
  z-index: 1000; /* Ensure it stays above other content */
}
