.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5px;

  form {
    width: 100%;
    max-width: 600px;

    .form-label {
      text-align: left;
      width: 100%;
      color: #fff;
    }

    .form-control {
      width: 100%;
      margin: 2px auto;

      @media (max-width: 900px) {
        width: 95%;
      }
    }

    .form-select {
      width: 100%;
      margin: 2px auto;

      @media (max-width: 900px) {
        width: 95%;
      }
    }

    .btn-primary {
      margin-top: 10px;
    }

    .text-danger {
      width: 100%;
      text-align: center;
    }
  }
}

h1 {
  color: #fff;
  font-size: 1.5rem;
}
