/* src/index.scss */
@import './effects/CrossFadeScreens.scss';

@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/src/fonts/poppins-webfont/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src:
    local("Poppins Medium"),
    url("src/fonts/poppins-webfont/Poppins-Medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("src/fonts/poppins-webfont/Poppins-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Poppins Bold"),
    url("src/fonts/poppins-webfont/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: "Poppins Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("Poppins Italic"),
    url("/src/fonts/poppins-webfont/Poppins-Italic.woff") format("woff");
}

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: normal;
  src: url("src/fonts/Inter/static/Inter-Regular.ttf") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins Regular", "Poppins SemiBold", "Poppins Italic",
    "Inter Regular", sans-serif;
  background-color: #222 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#iphone-15-container {
  position: relative;
  margin: auto; // Center the container
}

.iphone-15-frame {
  display: flex;
  width: 393px;
  height: 852px;
  border-radius: 60px;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  z-index: 8;
  overflow: hidden;
  background: black;
  border-radius: 50px;
  border-style: solid;
  border-color: #666;
  color: white;
}

.screen {
  z-index: -1;
  border-radius: 42px;
  position: absolute;
  top: 0;
  left: 0;
  inset: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  overflow: hidden;
  background: linear-gradient(-25deg, #003959, #000000);
}

.lensmain {
  position: relative;
  z-index: 0;
  top: 20px;
  height: 35px;
  width: 145px;
  background-color: black;
  justify-content: space-around;
  margin-left: 10px;
  align-items: center;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.lensmain:hover::before {
  width: 200px;
  margin: -40;
}

.camera1 {
  background: radial-gradient(#3f3978, #0c0e29, #283964);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  left: 30px;
  top: 4px;
}

.camera2 {
  background: radial-gradient(#3f3978, #0c0e29, #283964);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  left: 100px;
  top: -11px;
}

.nav-bar-container {
  position: absolute;
  top: 728px;
}

.nav-bar-container {
  position: absolute;
  top: 728px;
}

.welcome-container {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-message {
  font-family: "Poppins SemiBold";
  font-size: 21px;
  color: #ffffff;
}

#loading-message {
  font-family: "Inter Regular";
  font-size: 15px;
  display: inline;
  text-align: center;
  position: relative;
  white-space: nowrap;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
  width: 100vw;
  /* Full viewport width */
  position: fixed;
  /* Fixed position */
  top: 0;
  /* Start at top */
  left: 0;
  /* Start at left */
  opacity: 1;
  transition: opacity 1s ease-in-out;

  &.fade-out {
    opacity: 0;
    pointer-events: none;
    /* Optional: to prevent interactions while fading out */
  }
}

.custom-image-spinner {
  width: 4rem;
  height: 4rem;
  position: relative;
  top: -50px;
  left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  animation: image-spin 1.5s linear infinite;
}

@keyframes image-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

header {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: white;
  font-family: "Poppins Regular";
  font-size: 24px;
  font-weight: bold;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 20px;
  text-align: center;
}

footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: white;
  font-family: "Poppins Regular";
  font-size: 16px;
}

.Tutorial {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  position: relative;
}

.continue-home-message {
  font-family: "Inter Regular";
  font-size: 13px;
  text-shadow: 5px 3px 6px rgb(0, 0, 0);
}

//Form.jsx
.text-white {
  color: white;
}

.form-check-label.text-white {
  color: white;
}

.baymax-waving {
  position: relative;
  top: 170px;
  left: -150px;
  animation: slideUp 1s;
  z-index: 1;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.message {
  opacity: 0;
  /* Start hidden */
  animation: slideRight 2s forwards;
  width: 80%;
  position: relative;
  left: 40px;
}

.message1 {
  position: relative;
  top: 80px;
  animation-delay: 1s;
  padding-top: 10px;
}

.message2 {
  position: relative;
  top: 100px;
  animation-delay: 4s;
}

.message3 {
  position: relative;
  top: 120px;
  animation-delay: 7s;
  margin-bottom: -20px;
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.continue-tutorial-message {
  position: relative;
  font-family: "Inter Regular";
  top: -84px;
  left: 70px;
  font-size: 13px;
  text-shadow: 5px 3px 6px rgb(0, 0, 0);
}

.bcontainer {
  opacity: 0;
  animation: slideLeft 1s forwards;
}

.button-container {
  animation-delay: 10s;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}

.button {
  position: absolute;
  top: -95px;
  left: 285px;
  z-index: 1;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.glow {
  /* Glow */

  position: absolute;
  width: 247px;
  height: 247px;
  left: calc(50% - 247px / 2 - 0.5px);
  top: 655px;

  background: #3389bb;
  filter: blur(100px);
  z-index: 0;

  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.message-bubble {
  display: inline-flex;
  max-width: 90%;
  width: 345px;
  height: 120px;
  padding: 10px 15px;
  background-color: rgba(50, 137, 187, 1);
  color: white;
  font-family: "Poppins Semibold", sans-serif;
  font-size: 16px;
  border-radius: 24px;
  text-align: left;
  line-height: 1.5;
  word-wrap: break-word;
  margin: 10px 0;
}
